In [ ]:
try:
  from itables import(
     init_notebook_mode, show 
    ) 
except:
  !pip install -r https://raw.githubusercontent.com/CancerDataAggregator/Community-Notebooks/main/requirements.txt


import numpy as np
import pandas as pd
from itables import init_notebook_mode, show
init_notebook_mode(all_interactive=True)
import itables.options as opt

opt.classes="display"
opt.buttons=["copyHtml5", "csvHtml5", "excelHtml5"]
opt.maxBytes=0

# CDA Madlibs

A fill in the blank notebook for basic CDA functions. Good for learning syntax and finding errors in your own code. Replace any `____#____` with your search term and the code should run. Be sure to leave quotes and stars around words that look like `"*____#____*"` or `"____#____"` and to not add quotes for `____#____`. Text after a ## in a code block is a comment explaining what the blank should be filled with, just like a madlib.

## Finding Terms to search

In [ ]:
# Tells you what tables exist, not what is in them, just their names

tables()

In [ ]:
# Tells you what columns exist, what table they are in, and lots of information about what is in each one

columns()

In [ ]:
# Tells you what columns exist that have your keyword in their name, what table they are in, and lots of information about what is in each one

columns(column = "*____1____*") 

## 1) word you want to search the column name for

In [ ]:
# Tells you what columns exist that have your keyword in their description, what table they are in, and lots of information about what is in each one


columns(description = "*____1____*") 

## 1) word you want to search the description for

In [ ]:
# Gives you a list of what values are in a column of your choice, and how many times each value appears

column_values( "____1____" )

## 1) column name you want to see the possible values for

## Looking at data

In [ ]:
# Gives you a readout of the columns for your chosen table, what values exist in each column, and how many times each value occurs AFTER filtering the data by some filter you set

summary_counts(table="____1____" , match_all=['____2____ = ____3____'])

## 1) table name you want summarized
## 2) column name you want to filter
## 3) column value you want to filter by

In [ ]:
# Gives you a readout of the columns for your chosen table, what values exist in each column, and how many times each value occurs AFTER filtering the data by multiple filters you set
# This will return only data that has BOTH the conditions of ##2/##3 and ##4/##5


summary_counts(table="____1____" , match_all=['____2____ = ____3____', '____4____ = ____5____'])

## 1) table name you want summarized
## 2) first column name you want to filter
## 3) first column value you want to filter by
## 4) second column name you ALSO want to filter
## 5) second column value you ALSO want to filter by


#You can add as many comma seperated pairs like ##2 and ##3 as you like

In [ ]:
# Gives you a readout of the columns for your chosen table, what values exist in each column, and how many times each value occurs AFTER filtering the data by multiple filters you set
# This will return ALL data that has EITHER of the conditions of ##2/##3 and ##4/##5

summary_counts(table="____1____" , match_any=['____2____ = ____3____', '____4____ = ____5____'])

## 1) table name you want summarized
## 2) first column name you want to filter
## 3) first column value you want to filter by
## 4) second column name you want to filter
## 5) second column value you want to filter by


#You can add as many comma seperated pairs like ##2 and ##3 as you like

In [ ]:
# This works just like summary_counts, but instead of giving you a summary, it gives you a big matrix of all the data. 
# Gives you a matrix of all the columns for your chosen table and one row per value AFTER filtering the data by multiple filters you set
# This will return only data that has BOTH the conditions of ##2/##3 and ##4/##5

fetch_rows(table="____1____" , match_all=['____2____ = ____3____'])

## 1) table name you want the data from
## 2) column name you want to filter
## 3) column value you want to filter by

In [ ]:
# This works just like summary_counts, but instead of giving you a summary, it gives you a big matrix of all the data. 
# Gives you a matrix of all the columns for your chosen table and one row per value AFTER filtering the data by multiple filters you set
# This will return only data that has BOTH the conditions of ##2/##3 and ##4/##5


fetch_rows(table="____1____" , match_all=['____2____ = ____3____', '____4____ = ____5____'])

## 1) table name you want the data from
## 2) first column name you want to filter
## 3) first column value you want to filter by
## 4) second column name you ALSO want to filter
## 5) second column value you ALSO want to filter by


#You can add as many comma seperated pairs like ##2 and ##3 as you like

In [ ]:
# This works just like summary_counts, but instead of giving you a summary, it gives you a big matrix of all the data. 
# Gives you a matrix of all the columns for your chosen table and one row per value AFTER filtering the data by multiple filters you set
# This will return ALL data that has EITHER of the conditions of ##2/##3 and ##4/##5

fetch_rows(table="____1____" , match_any=['____2____ = ____3____', '____4____ = ____5____'])

## 1) table name you want the data from
## 2) first column name you want to filter
## 3) first column value you want to filter by
## 4) second column name you want to filter
## 5) second column value you want to filter by


#You can add as many comma seperated pairs like ##2 and ##3 as you like

In [ ]:
# For more complicated questions, you can have both a match_all and a match_any. 
# It will return all the data that has both all the conditions in your match_all, and at least one of the condtions in your match_any

fetch_rows(table="____1____" , match_all=['____2____ = ____3____', '____4____ = ____5____'], match_any=['____6____ = ____7____', '____8____ = ____9____'])

## 1) table name you want the data from
## 2) first column name you want to filter
## 3) first column value you want to filter by
## 4) second column name you want to filter
## 5) second column value you want to filter by
## 6) third column name you want to filter
## 7) third column value you want to filter by
## 8) fourth column name you want to filter
## 9) fourth column value you want to filter by